@media(min-width: 1990px){
	.header__top{
		margin-bottom: 265px;
	}
}
@media(min-width: 2080px){
	.header__top{
		margin-bottom: 300px;
	}
}
@media(min-width: 2225px){
	.header__top{
		margin-bottom: 340px;
	}
}
@media(min-width: 2350px){
	.header__top{
		margin-bottom: 380px;
	}
}
@media(min-width: 2500px){
	.header__top{
		margin-bottom: 415px;
	}
}