@import 'libs';
@import 'fonts';
@import 'vars';
@import 'global';

.header{
	color: #fff;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center top;
	height: 100vh;
	padding-bottom: 180px;
	&__top{
		padding: 24px 0 20px;
		margin-bottom: 240px;
	}
	&__top,
	&__top-start{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__logo{
		margin-right: 75px;
	}
	&__menu-item{
		display: inline-block;
		&+&{
			margin-left: 50px;
		}
	}
	&__menu-link{
		font-size: 16px;
		line-height: 19px;
	}
	&__btn{
		font-size: 14px;
		line-height: 16px;
		padding: 14px 12px;
		background: linear-gradient(84.32deg, #D72828 -25.29%, #EE7D14 95.55%);
		border-radius: 30px;
	}
	&__title{
		font-weight: 700;
		font-size: 80px;
		line-height: 94px;
		max-width: 900px;
		margin-bottom: 40px;
		span{
			color: #000;
		}
	}
	&__main-btns{
		font-size: 24px;
		line-height: 28px;
	}
	&__main-btn{
		padding: 19px 58px;
		margin-right: 40px;
	}
}
.advantage{
	text-align: center;
	padding-bottom: 130px;
	&__title{
		margin-bottom: 20px;
		max-width: 1400px;
		display: inline-block;
	}
	&__text{
		max-width: 740px;
		display: inline-block;
	}
}
.skills{
	padding: 130px 0 135px;
	&__title{
		margin: 0 370px 35px 0;
		text-align: right;
	}
	&__inner{
		color: #4F4F4F;
	}
	&__top{
		text-align: right;
		justify-content: center;
		.skills__description{
			max-width: 890px;
			margin-left: 53px;
		}
	}
	&__center{
		justify-content: space-between;
		text-align: center;
		margin-bottom: 75px;
		svg{
			display: inline-block;
		}
		.skills__description p{
			max-width: 370px;
			margin-bottom: 90px;
		}
	}
	&__top,
	&__center,
	&__bottom{
		display: flex;
		align-items: center;
	}
	&__description{
		font-family: 'Segoe Script', sans-serif;
		font-weight: 700;
		font-size: 40px;
		line-height: 124%;
		display: inline-block;
	}
	&__bottom{
		.skills__description{
			display: flex;
			align-items: center;
			svg{
				display: inline-block;
			}
			p{
				max-width: 515px;
				margin-right: 120px;
			}
			&:first-child{
				margin-right: 200px;
			}
		}
	}
}
.pride{
	padding-bottom: 110px;
	&__title{
		margin-bottom: 20px;
	}
	&__items{
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	&__item{
		width: 715px;
		margin: 8px;
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
		background-color: #f2f2f2;
		border-radius: 2px;
		padding: 60px 0 0 45px;
	}
	&__item-title{
		font-size: 25px;
		background-image: linear-gradient(87.82deg, #D72828 4.27%, #EE7D14 84.56%);
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
		margin-bottom: 20px;
	}
	&__item-description{
		font-size: 30px;
		line-height: 35px;
		color: #828282;
		margin-bottom: 50px;
	}
}
.services{
	&__item{
		display: flex;
		margin-bottom: 50px;
		&:first-child{
			max-width: 930px;
		}
	}
	&__item-title{
		color: #000;
		font-weight: 500;
		font-size: 40px;
		margin-bottom: 10px;
		line-height: 100%;
	}
	&__item-text{
		font-size: 25px;
		line-height: 34px;
		margin-bottom: 40px;
		color: #828282;
	}
	&__item-btn{
		padding: 20px 75px;
		margin-right: 45px;
	}
}
@import 'media';
