@import 'libs';
@import 'fonts';
@import 'vars';
@import 'global';

.header{
	color: #fff;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center top;
	position: relative;
	height: 100vh;
	padding-bottom: 180px;
	&__top{
		padding: 24px 0 20px;
		margin-bottom: 240px;
	}
	&__top,
	&__top-start{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__logo{
		margin-right: 75px;
	}
	&__menu-item{
		display: inline-block;
		&+&{
			margin-left: 50px;
		}
	}
	&__menu-link{
		font-size: 16px;
		line-height: 19px;
	}
	&__btn{
		font-size: 14px;
		line-height: 16px;
		padding: 14px 12px;
		background: linear-gradient(84.32deg, #D72828 -25.29%, #EE7D14 95.55%);
		border-radius: 30px;
	}
	&__title{
		font-weight: 700;
		font-size: 80px;
		line-height: 94px;
		max-width: 900px;
		margin-bottom: 40px;
		span{
			color: #000;
		}
	}
	&__main-btns{
		font-size: 24px;
		line-height: 28px;
	}
	&__main-btn{
		padding: 19px 58px;
		margin-right: 40px;
	}
}
.advantage{
	text-align: center;
	padding-bottom: 130px;
	&__title{
		margin-bottom: 20px;
		max-width: 1400px;
		display: inline-block;
	}
	&__text{
		max-width: 740px;
		display: inline-block;
	}
}
.skills{
	padding: 130px 0 135px;
	&__title{
		margin: 0 370px 35px 0;
		text-align: right;
	}
	&__inner{
		color: #4F4F4F;
	}
	&__top{
		text-align: right;
		justify-content: center;
		.skills__description{
			max-width: 890px;
			margin-left: 53px;
		}
	}
	&__center{
		justify-content: space-between;
		text-align: center;
		margin-bottom: 75px;
		svg{
			display: inline-block;
		}
		.skills__description p{
			max-width: 370px;
			margin-bottom: 90px;
		}
	}
	&__top,
	&__center,
	&__bottom{
		display: flex;
		align-items: center;
	}
	&__description{
		font-family: 'Segoe Script', sans-serif;
		font-weight: 700;
		font-size: 40px;
		line-height: 124%;
		display: inline-block;
	}
	&__bottom{
		.skills__description{
			display: flex;
			align-items: center;
			svg{
				display: inline-block;
			}
			p{
				max-width: 515px;
				margin-right: 120px;
			}
			&:first-child{
				margin-right: 200px;
			}
		}
	}
}
.pride{
	padding-bottom: 110px;
	&__title{
		margin-bottom: 20px;
	}
	&__items{
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	&__item{
		width: 715px;
		margin: 8px;
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
		background-color: #f2f2f2;
		border-radius: 2px;
		padding: 60px 0 0 45px;
	}
	&__item-title{
		font-size: 25px;
		background-image: linear-gradient(87.82deg, #D72828 4.27%, #EE7D14 84.56%);
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
		margin-bottom: 20px;
	}
	&__item-description{
		font-size: 30px;
		line-height: 35px;
		color: #828282;
		margin-bottom: 50px;
	}
}
.services{
	padding-bottom: 115px;
	position: relative;
	&__items{
		margin-bottom: 180px;
	}
	&__item-img{
		position: absolute;
	}
	&__item{
		display: flex;
		align-items: center;
		margin-bottom: 50px;
		&:first-child{
			max-width: 930px;
		}
		&:nth-child(even){
			.services__item-img{
				left: 0;
			}
		}
		&:nth-child(odd){
			.services__item-img{
				right: 0;
			}
		}
		&:nth-child(2){
			min-height: 1200px;
			.services__item-info{
				margin-left: auto;
				margin-top: 350px;
				margin-bottom: auto;	
				margin-right: 0;
				max-width: 750px;
				
			}
		}
		&:nth-child(3){
			min-height: 880px;
			margin-top: -220px;
			.services__item-info{
				max-width: 725px;
			}
		}
		&:nth-child(4){
			margin-top: -80px;
			min-height: 600px;
			.services__item-info{
				margin-left: 525px;
				max-width: 670px;
			}
		}
		&:nth-child(5){
			min-height: 1080px;
			margin-top: -160px;
			.services__item-info{
				max-width: 725px;
			}
		}
		&:nth-child(6){
			margin-top: -300px;
			min-height: 370px;
			margin-bottom: 0;
			.services__item-info{
				padding-bottom: 0;
				margin-bottom: -140px;
				margin-left: auto;
				margin-right: 100px;
				max-width: 800px;
			}
		}
	}
	&__item-title{
		color: #000;
		font-weight: 500;
		font-size: 40px;
		margin-bottom: 10px;
		line-height: 100%;
	}
	&__item-text{
		margin-bottom: 40px;
	}
	&__item-btn{
		padding: 20px 75px;
		margin-right: 45px;
	}
	&__item-left-img{
		margin-left: -150px;
	}
	&__item-left-info{
		padding-top: 100px;
		width: 725px;
	}
	&__item-left-descr{
		margin-bottom: 20px;
	}
	&__item-right-descr{
		padding-top: 100px;
		margin-bottom: 20px;
	}
	&__item-right-images{
		margin-top: 90px;
		max-width: 730px;
		margin-right: 0;
		margin-left: auto;
	}
	&__item-right-img{
		width: 730px;
		&:nth-child(odd){
			text-align: right;
		}
	}
	&__items-big{
		display: flex;
		justify-content: space-between;
	}
}
.answers{
	padding: 115px 0 125px;
	&__title{
		margin-bottom: 80px;
	}
	&__items{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	&__items-center{
		display: flex;
		justify-content: space-between;
		min-height: 350px;
		margin-bottom: 50px;
		.answers__item:first-child{
			margin-bottom: 100px;
			margin-top: auto;
			margin-right: 85px;
			&::after{
				content: '';
				position: absolute;
				width: 280px;
				height: 67px;
				bottom: -75px;
				right: 25px;
				background-repeat: no-repeat;
				background-size: contain;
				background-image: url(../images/answers-arrow3.svg);
			}
			.answers__item-text{
				max-width: 620px;
			}
		}
		.answers__item:last-child{
			max-width: 700px;
			&::after{
				content: '';
				position: absolute;
				width: 512px;
				height: 67px;
				top: 0;
				left: -610px;
				background-repeat: no-repeat;
				background-size: contain;
				background-image: url(../images/answers-arrow2.svg);
			}
		}
	}
	&__item{
		position: relative;
	}
	&__items-top{
		.answers__item{
			margin-bottom: 70px;
			&::after{
				content: '';
				position: absolute;
				width: 292px;
				height: 202px;
				top: -30px;
				right: -296px;
				background-repeat: no-repeat;
				background-size: contain;
				background-image: url(../images/answers-arrow1.svg);
			}
		}
	}
	&__item-description{
		font-weight: 500;
		font-size: 40px;
		margin-bottom: 10px;
		line-height: 47px;
	}
	&__item-description-blue{
		color: #2D9CDB;
	}
	&__item-description-red{
		color: #EB5757;
	}
	&__item-description-yellow{
		color: #F2994A;
	}
	&__item-description-green{
		color: #00B372;
	}
	&__item-text{
		font-size: 30px;
		line-height: 35px;
		color: #828282;
		max-width: 770px;
	}
	&__item-btn{
		font-size: 24px;
		line-height: 28px;
		display: inline-block;
		padding: 19px 20px;
		border: 1px solid #27AE60;
		border-radius: 33px;
		color: #27AE60;
		margin-top: 45px;
	}
}
.advice{
	padding: 125px 0 80px;
	text-align: center;
	&__title{
		margin-bottom: 30px;
		max-width: 1000px;
		display: inline-block;
	}
	&__text{
		display: inline-block;
		max-width: 1150px;
		span{
			color: #333333;
		}
	}
}
.course{
	padding-bottom: 180px;
	position: relative;
	&__main{
		display: flex;
		justify-content: space-between;
		min-height: 750px;
	}
	&__main-img{
		position: absolute;
		left: 0;
	}
	&__main-title{
		margin-bottom: 10px;
		font-weight: 500;
		font-size: 60px;
	}
	&__main-info{
		margin-left: auto;
		margin-right: 0;
		padding-top: 20px;
		max-width: 870px;
	}
	&__main-description{
		font-family: 'Segoe Script', sans-serif;
		font-weight: 700;
		font-size: 30px;
		line-height: 124%;
		color: #2D9CDB;
		margin-bottom: 65px;
	}
	&__main-text{
		max-width: 500px;
		margin-bottom: 40px;
	}
	&__main-btn{
		padding: 19px 14px;
	}
	&__item{
		overflow: hidden;
	}
	&__items-bottom,
	&__items-top{
		display: flex;
		align-items: center;
	}
	&__items-top{
		justify-content: flex-end;
		margin-bottom: 20px;
		.course__item{
			padding: 75px 100px 65px 75px;
			max-width: 625px;
			background-image: url(../images/course-border1.svg);
			background-size: contain;
			max-height: 260px;
			background-repeat: no-repeat;
		}
	}
	&__item-description{
		font-size: 25px;
		font-family: 'Segoe Script', sans-serif;
		font-weight: 700;
		line-height: 40px;
		color: #000000;
	}
	&__items-bottom{
		margin: 0 -140px;
		.course__item:first-child{
			padding: 90px 30px 80px 50px;
			max-width: 670px;
			max-height: 290px;
			background-image: url(../images/course-border2.svg);
			background-size: contain;
			margin-right: 25px;
			background-repeat: no-repeat;
			.course__item-description{
				max-width: 600px;
			}
		}
		.course__item:nth-child(2){
			padding: 60px 60px 60px 75px;
			max-width: 540px;
			background-image: url(../images/course-border3.svg);
			background-size: cover;
			max-height: 240px;
			margin-right: 25px;
			background-repeat: no-repeat;
			.course__item-description{
				max-width: 400px;
			}
		}
		.course__item:last-child{
			padding: 75px 85px 65px 75px;
			max-width: 625px;
			max-height: 260px;
			margin-right: 0;
			background-image: url(../images/course-border1.svg);
			background-size: contain;
			background-repeat: no-repeat;
			.course__item-description{
				max-width: 455px;
			}
		}
	}
}
.footer{
	padding-bottom: 55px;
	&__title{
		margin-bottom: 15px;
		font-weight: 500;
		font-size: 30px;
		color: transparent;
		background: linear-gradient(87.82deg, #D72828 4.27%, #EE7D14 84.56%);
		background-clip: text;
		-webkit-background-clip: text;
	}
	&__list-item{
		display: inline-block;
		font-size: 45px;
		line-height: 53px;
		color: #000;
		&+&{
			margin-left: 80px;
		}
	}
}


@import 'media';
